<%- include('partials/layout') %>

<style>
    body{
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        background-size: cover;
        background-attachment: fixed;
        position: relative; 
    }

    h1{
        font-family: 'Birthstone', cursive;
        font-size: 100px;
        text-align: center;
    }

    #textos {
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    img{
    width: 400px;
    height: 410px;
}
</style>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/gorrito.png" alt="chef" class="animate__animated animate__jackInTheBox">
            </div>
                
        </header>
        <div class="row my-5" id="textos">
            <h1 class="">¡Bienvenido al Gestor del Restaurante!</h1>
        </div>
        
    </header>






</body>
</html>