<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-2">
            <a class="hola navbar-brand" href="/inicio">APP RESTAURANTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/inicio"> <i class="fa fa-home"></i> Inicio</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/menu"><i class="fas fa-drumstick-bite"></i> Menu</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/empleados"><i class="far fa-address-card"></i> Empleados</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/inventario"><i class="fas fa-id-card-alt"></i> Inventario</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/notas"><i class="fas fa-book"></i> Notas</a> </li>    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-in-alt"></i> Cerrar Sesión</a>
                      </li>                
                </ul>
            </div>           
    </div>
</nav>